.dashboard {
    display: grid;                          
    grid-template-columns: repeat(2, 1fr);   
    gap: 25px;                               
    padding: 20px;
  }
  
  .card {
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
  }
  
 .grid-card {
  text-decoration: none ;
  color: black;
  font-size: larger;
  font-weight: bolder;
 }


