body {
    font-family: sans-serif;
    background-color: #f4f7fa;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
  }
  
  .form-container {
    background: white;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 1rem;
    color: #003366;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  label {
    font-weight: 600;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.2s ease;
  }
  

  

  input[type="checkbox"] {
    margin-right: 8px;
  }
  
 
  .form-button {
    background-color: #0059b3;
    color: white;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #004080;
  }
  

  .redirect-form{
    color: black;
    font-weight: lighter;
    font-size: smaller;
  }




  .logo {
    vertical-align: middle;
    height: 2em;  
    border-radius: 50%;
  }



  .bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  

  